<div class="card h-100 shadow-sm border-0">
  <div class="card-header bg-white d-flex justify-content-between align-items-center">
    <h5 class="mb-0 fw-bold text-uppercase">{{ pizza().nombre | uppercase }}</h5>
    <span class="badge bg-success fs-6 py-2 px-3">{{ pizza().precio | number:'1.2-2' }}€</span>
  </div>
  
  <img [src]="pizza().imagenUrl" [alt]="pizza().nombre" class="card-img-top" style="height: 180px; object-fit: cover;">
  
  <div class="card-body">
    
   <div class="mb-3 d-flex gap-2">
      @for (icon of pizza().ingredientesIconos; track $index) {
        <i class="fa-solid {{ icon }} fs-4 text-info" title="{{ icon }}"></i>
      }
    </div>
    
    <div class="d-flex justify-content-center gap-3">
        
        <app-atomo-boton
            texto="Cantidad: {{ cantidad() }}"
            claseBootstrap="btn-outline-secondary flex-fill" 
            (clickBoton)="abrirModal()">
            <i class="fa-solid fa-calculator me-1 fs-4"></i>
        </app-atomo-boton>

        <app-atomo-boton
            texto="Comprar"
            claseBootstrap="btn-success flex-fill" 
            (clickBoton)="onAddToCart()">
            <i class="fa-solid fa-shopping-cart me-1 fs-4"></i>
        </app-atomo-boton>
    </div>
  </div>
</div>


@if (mostrarModalCantidad()) {
  <div class="modal d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Introduzca Cantidad Deseada</h5>
          <button type="button" class="btn-close" (click)="cerrarModal()"></button>
        </div>
        
        <div class="modal-body">
            
            <label for="quantityInput" class="form-label">Cantidad:</label>
            <input 
              type="number" 
              id="quantityInput"
              class="form-control"
              [value]="cantidadModal()" 
              (input)="onModalInput($event)"
              min="1"
              required>
        </div>
        
        <div class="modal-footer">
            <app-atomo-boton
                texto="Cancelar"
                claseBootstrap="btn-outline-secondary" 
                (clickBoton)="cerrarModal()">
            </app-atomo-boton>

            <app-atomo-boton
                texto="Guardar"
                claseBootstrap="btn-success" 
                (clickBoton)="guardarCantidad()"> </app-atomo-boton>
        </div>
      </div>
    </div>
  </div>
}