<div class="mb-3">
    <label class="form-label" *ngIf="label()">{{ label() }}</label>
    
    <ng-container *ngIf="tipo() === 'textarea'; else standardInput">
        <textarea
            [placeholder]="placeholder()"
            class="form-control"
            [class.is-invalid]="errorMensaje()"
            [value]="valor()"
            (input)="onValorChange($event)"> </textarea>
    </ng-container>

    <ng-template #standardInput>
        <input
            [type]="tipo()"
            [placeholder]="placeholder()"
            class="form-control"
            [class.is-invalid]="errorMensaje()" 
            [value]="valor()"
            (input)="onValorChange($event)"> </ng-template>
        
    <div *ngIf="errorMensaje()" class="invalid-feedback">
        {{ errorMensaje() }}
    </div>
</div>