<section class="mb-5">
  <div class="row g-4 mb-5">
    
    @for (pizza of pizzas(); track pizza.id) {
      <div class="col-12 col-md-6 col-lg-4">
        <app-molecula-card-pizza 
          [pizza]="pizza"
          (addToCart)="onAddToCart($event)">
        </app-molecula-card-pizza>
      </div>
    }
  </div>

 @if (resumenPedido().length > 0) {
    <h2 class="text-center text-uppercase my-4">Resumen del Pedido</h2>
    <div class="list-group shadow-sm mb-3">
      @for (item of resumenPedido(); track item.pizza.id) {
        <app-molecula-item-pedido 
          [item]="item">
        </app-molecula-item-pedido>
      }
    </div>
    <div class="card p-3 shadow-sm bg-light">
        <h4 class="mb-0 d-flex justify-content-between">
            <span>Total:</span>
            <span class="fw-bold text-primary">{{ totalPedido() | number:'1.2-2' }} €</span>
        </h4>
    </div>
  }
</section>